.card2-game {
  display: flex;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgb(94, 255, 0);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  margin-right: 20px;
  color: rgb(255, 255, 255);
}

.card2-game-image img {
  width: 100%;
  height: auto;
}

.card2-game-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card2-game-other-images img {
  width: 250px;
  height: 150px;
  margin-right: 10px;
}

.card2-game-description {
  margin-top: 10px;
}

.card2-game-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.card2-game-original-price {
  text-decoration: line-through;
}

.card2-game-discount {
  color: #ff0000;
  font-weight: bold;
  margin-top: 5px;
}

.card2-game-final-price {
  font-size: 1.2em;
  color: #00ff00;
  font-weight: bold;
}

.t {
  color: red;
}
